@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200;400&family=Fredoka&family=Open+Sans&family=Quicksand:wght@600&family=Source+Code+Pro&family=Varela+Round&display=swap');

:root {
  --font-base: "DM Sans", sans-serif;

  --primary-color: #edf2f8;
  --secondary-color: #313bac;
  --black-color: #030303;
  --lightGray-color: #e4e4e4;
  --gray-color: #6b7688;
  --brown-color: #46364a;
  --white-color: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}